node_modules

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# IDE configurations
.idea

# Misc
assets/js/dist
assets/img/2022/11/.originals
assets/img/2022/12/.originals
assets/img/2023/01/.originals
assets/img/2023/06/.originals
assets/img/2023/06/WaterCooledRig/.originals
assets/img/2023/08/.originals